<html layout:decorate="~{admin/bar}">
<div layout:fragment="content">
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3 bd-red" style="max-width: 30rem; border">
                    <div class="card-header bd-red">회원수</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="'총 '+${userTotal}+'명'"></h5>
                        <p class="card-text" th:text="'이번달 신규 가입자수: ' + ${recentUser} + '명'"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 bd-yellow" style="max-width: 30rem; border">
                    <div class="card-header bd-yellow">등록된 맛집 수</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="'총 '+${hotplaceTotal}+'곳'"></h5>
                        <p class="card-text" th:text="'이번달 신규 맛집수: ' + ${newPlaceCnt} + '곳'"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 bd-green" style="max-width: 30rem; border">
                    <div class="card-header bd-green">감정 평균</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="'긍정 '+${emoAvg}+'%'"></h5>
                        <p class="card-text" th:text="'이번달 감정 평균: 긍정 ' + ${RecentEmoAvg} + '%'"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 bd-green" style="max-width: 30rem; border">
                    <div class="card-header bd-green">신규 문의</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="신규 문의글 수"></h5>
                        <p class="card-text" th:text="답변하러가기"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        연도별 액티브 유저수
                    </div>
                    <div class="card-body">
                        <canvas class="chart year" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        월별 액티브 유저수
                    </div>
                    <div class="card-body">
                        <canvas class="chart month" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span> 맛집 리스트
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table
                                    id="example"
                                    class="table table-striped data-table"
                                    style="width: 100%"
                            >
                                <thead>
                                <tr>
                                    <th>PK</th>
                                    <th>시/도</th>
                                    <th>구/군</th>
                                    <th>상호명</th>
                                    <th>카테고리</th>
                                    <th>추천수</th>
                                    <th>감정후기</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="hotplace, loop : ${hotplaceRanking}">
                                    <td th:text="${hotplace.hotplace_no}"></td>
                                    <td th:text="${hotplace.sido}"></td>
                                    <td th:text="${hotplace.gugun}"></td>
                                    <td th:text="${hotplace.hotplace_name}"></td>
                                    <td th:text="${hotplace.hotplace_cate_name}"></td>
                                    <td th:text="${hotplace.recom_count}"></td>
                                    <td th:text="${hotplace.emo_result}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <!-- activeUserList 데이터를 JSON 형식으로 변환하여 스크립트 태그 내에 변수로 설정 -->
    <script th:inline="javascript">
        var activeUserMapData = /*[[${activeUserMap}]]*/ {};
        var monthMapData = /*[[${monthMap}]]*/ {};
        var activeUserYMap = /*[[${activeUserYMap}]]*/ {};
        var yearMap = /*[[${yearMap}]]*/ {};
    </script>
</div>
</html>