<html layout:decorate="~{admin/bar}">
<div layout:fragment="content">
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h1>회원 관리</h1>
                    <div class="card">
                        <div class="card-body">
                            <!-- 검색 폼 -->
                            <form th:action="@{/admin/user/list}" method="get" id="searchForm" class="d-flex justify-content-between">
                                <div class="input-group">
                                    <select name="searchCategory" class="form-select">
                                        <option value="user_name">User Name</option>
                                        <option value="user_id">User ID</option>
                                        <option value="email">Email</option>
                                    </select>
                                    <input type="text" class="form-control" name="search" placeholder="Search" th:value="${search}">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                        <!-- 유저 테이블 -->
                        <div class="card-body">
                            <!-- 총 개수 표시 -->
                            <div class="mb-2">총 개수: <span th:text="${#lists.size(users)}"></span></div>
                            <table class="table table-striped">

                            <thead>
                            <tr>
                                <!--
                                <th>회원번호<a href="#" th:href="@{${sortField == '?sortField=user_no&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                <th>회원명<a href="#" th:href="@{${sortField == '?sortField=user_name&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                <th>ID<a href="#" th:href="@{${sortField == '?sortField=user_id&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                <th>생년월일<a href="#" th:href="@{${sortField == '?sortField=BIRTH&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                <th>가입일<a href="#" th:href="@{${sortField == '?sortField=join_date&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                <th>이메일<a href="#" th:href="@{${sortField == '?sortField=email&sortOrder=asc'}"><i class="bi bi-arrow-down-short"></i></a></th>
                                -->
                                <th>회원번호
                                    <a href="#" th:href="@{${sortField == 'user_no' and sortOrder == 'asc' ? '?sortField=user_no&sortOrder=desc' : '?sortField=user_no&sortOrder=asc'}}">
                                    <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_no' and sortOrder == 'desc' ? '?sortField=user_no&sortOrder=asc' : '?sortField=user_no&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                                <th>회원명
                                    <a href="#" th:href="@{${sortField == 'user_name' and sortOrder == 'asc' ? '?sortField=user_name&sortOrder=desc' : '?sortField=user_name&sortOrder=asc'}}">
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_name' and sortOrder == 'desc' ? '?sortField=user_name&sortOrder=asc' : '?sortField=user_name&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                                <th>Id
                                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'asc' ? '?sortField=user_id&sortOrder=desc' : '?sortField=user_id&sortOrder=asc'}}">
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'desc' ? '?sortField=user_id&sortOrder=asc' : '?sortField=user_id&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                                <th>생년월일
                                    <a href="#" th:href="@{${sortField == 'BIRTH' and sortOrder == 'asc' ? '?sortField=BIRTH&sortOrder=desc' : '?sortField=BIRTH&sortOrder=asc'}}">
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'BIRTH' and sortOrder == 'desc' ? '?sortField=BIRTH&sortOrder=asc' : '?sortField=BIRTH&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                                <th>가입일
                                    <a href="#" th:href="@{${sortField == 'join_date' and sortOrder == 'asc' ? '?sortField=join_date&sortOrder=desc' : '?sortField=join_date&sortOrder=asc'}}">
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'join_date' and sortOrder == 'desc' ? '?sortField=join_date&sortOrder=asc' : '?sortField=join_date&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                                <th>Email
                                    <a href="#" th:href="@{${sortField == 'email' and sortOrder == 'asc' ? '?sortField=email&sortOrder=desc' : '?sortField=email&sortOrder=asc'}}">
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'email' and sortOrder == 'desc' ? '?sortField=email&sortOrder=asc' : '?sortField=email&sortOrder=desc'}}">
                                        <i class="bi bi-arrow-up-short"></i>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.user_no}"></td>
                                <td th:text="${user.user_name}"></td>
                                <td th:text="${user.user_id}"></td>
                                <td th:text="${user.BIRTH}"></td>
                                <td th:text="${user.join_date}"></td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 페이징 -->
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link" href="#" th:href="@{'?page=' + (currentPage - 1)}">Previous</a>
                                </li>
                                <li class="page-item" th:each="page : ${pageNumbers}" th:classappend="${page == currentPage ? 'active' : ''}">
                                    <a class="page-link" href="#" th:href="@{'?page=' + page}" th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
                                    <a class="page-link" href="#" th:href="@{'?page=' + (currentPage + 1)}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function() {
        function updateUrlParam(key, value) {
            var params = new URLSearchParams(window.location.search);
            params.set(key, value);
            window.location.search = params.toString();
        }

        // 정렬 드롭다운에서 선택한 정렬 옵션 반영
        $("#sortDropdown").on("change", function() {
            var selectedOption = $(this).val().split(':');
            var sortField = selectedOption[0];
            var sortOrder = selectedOption[1];
            updateUrlParam("sortField", sortField);
            updateUrlParam("sortOrder", sortOrder);
        });

        // 페이지 업데이트
        $(".pagination a").on("click", function(event) {
            event.preventDefault();
            var url = new URL(this.href);
            var page = url.searchParams.get("page");
            updateUrlParam("page", page);
        });

        // 검색 폼 제출 시 검색어 및 검색 카테고리 업데이트
        $("#searchForm").on("submit", function(event) {
            event.preventDefault();
            var search = $(this).find('input[name="search"]').val();
            var searchCategory = $(this).find('select[name="searchCategory"]').val();
            updateUrlParam("search", search);
            updateUrlParam("searchCategory", searchCategory);
        });
    });
</script>
</div>
</html>