<html layout:decorate="~{admin/bar}">
<div layout:fragment="content">
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h1>회원 관리</h1>
                    <div class="card">
                        <!-- 유저 테이블 -->
                        <div class="card-body">
                            <!-- 회원 검색 폼 -->
                            <form id="searchForm" class="mb-3" action="/admin/user/list" method="GET">
                                <div class="input-group ddo-search">
                                    <select name="searchCategory" class="form-select">
                                        <option value="user_name">회원명</option>
                                        <option value="user_id">아이디</option>
                                        <option value="email">이메일</option>
                                        <option value="gender">성별</option>
                                    </select>
                                    <input type="text" class="form-control" name="search" placeholder="검색">
                                    <button type="submit" class="btn btn-ddo"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                            <!-- 총 개수 표시 -->
                            <div class="mb-2">총 개수: <span th:text="${#lists.size(users)}"></span>
                            <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>회원번호
                                    <a href="#" th:href="@{${sortField == 'user_no' and sortOrder == 'asc' ? '?sortField=user_no&sortOrder=desc' : '?sortField=user_no&sortOrder=asc'}}" class="ddo-a">
                                    <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_no' and sortOrder == 'desc' ? '?sortField=user_no&sortOrder=asc' : '?sortField=user_no&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>회원명
                                    <a href="#" th:href="@{${sortField == 'user_name' and sortOrder == 'asc' ? '?sortField=user_name&sortOrder=desc' : '?sortField=user_name&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_name' and sortOrder == 'desc' ? '?sortField=user_name&sortOrder=asc' : '?sortField=user_name&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>Id
                                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'asc' ? '?sortField=user_id&sortOrder=desc' : '?sortField=user_id&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'desc' ? '?sortField=user_id&sortOrder=asc' : '?sortField=user_id&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>생년월일
                                    <a href="#" th:href="@{${sortField == 'BIRTH' and sortOrder == 'asc' ? '?sortField=BIRTH&sortOrder=desc' : '?sortField=BIRTH&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'BIRTH' and sortOrder == 'desc' ? '?sortField=BIRTH&sortOrder=asc' : '?sortField=BIRTH&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>성별
                                    <a href="#" th:href="@{${sortField == 'gender' and sortOrder == 'asc' ? '?sortField=gender&sortOrder=desc' : '?sortField=gender&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'gender' and sortOrder == 'desc' ? '?sortField=gender&sortOrder=asc' : '?sortField=gender&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>가입일
                                    <a href="#" th:href="@{${sortField == 'join_date' and sortOrder == 'asc' ? '?sortField=join_date&sortOrder=desc' : '?sortField=join_date&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'join_date' and sortOrder == 'desc' ? '?sortField=join_date&sortOrder=asc' : '?sortField=join_date&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>Email
                                    <a href="#" th:href="@{${sortField == 'email' and sortOrder == 'asc' ? '?sortField=email&sortOrder=desc' : '?sortField=email&sortOrder=asc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                                    </a>
                                    <a href="#" th:href="@{${sortField == 'email' and sortOrder == 'desc' ? '?sortField=email&sortOrder=asc' : '?sortField=email&sortOrder=desc'}}" class="ddo-a">
                                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                                    </a>
                                </th>
                                <th>수정</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.user_no}"></td>
                                <td th:text="${user.user_name}"></td>
                                <td th:text="${user.user_id}"></td>
                                <td th:text="${#dates.format(user.BIRTH, 'yyyy/MM/dd')}"></td>
                                <td th:text="${user.gender}"></td>
                                <td th:text="${#temporals.format(user.join_date.toLocalDate(), 'yyyy/MM/dd')}"></td>
                                <td th:text="${user.email}"></td>
                                <td><a th:href="@{|/admin/user/modify/${user.user_no}|}"><i class="bi bi-pencil-square ddo-icon-class"></i></a></td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(users)}">
                                <td colspan="8" class="text-center">검색 결과가 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                                <a href="/admin/user/list" class="btn btn-ddo ms-2"><i class="bi bi-arrow-repeat"></i></a></div>
                            <!--페이지네이션-->
                            <nav th:if="${#lists.size(users)} > 0">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{'?page=' + (${currentPage} - 1) + '&search=' + ${search} + '&searchCategory=' + ${searchCategory} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}">이전</a>
                                    </li>
                                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}">
                                        <a class="page-link" th:href="@{'?page=' + ${i} + '&search=' + ${search} + '&searchCategory=' + ${searchCategory} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" th:text="${i}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{'?page=' + (${currentPage} + 1) + '&search=' + ${search} + '&searchCategory=' + ${searchCategory} + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}">다음</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function() {
        function updateUrlParam(key, value) {
            var params = new URLSearchParams(window.location.search);
            params.set(key, value);
            window.location.search = params.toString();
        }

        //결과없으면 페이지네이션 숨기기
        if (${#lists.size(users)} == 0) {
        $(".pagination").hide();
        }

        // 페이지네이션 파라미터 업뎃
        $(".pagination a").on("click", function(event) {
            event.preventDefault();
            var url = new URL(this.href);
            var page = url.searchParams.get("page");
            updateUrlParam("page", page);
        });

        // 검색 파라미터 업뎃
        $("#searchForm").on("submit", function(event) {
            event.preventDefault();
            var search = $(this).find('input[name="search"]').val();
            console.log(search);
            var searchCategory = $(this).find('select[name="searchCategory"]').val();
            updateUrlParam("search", search);
            updateUrlParam("searchCategory", searchCategory);
        });
    });
</script>
</div>
</html>