<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/searchmap/map.css" th:href="@{/css/searchmap/map.css}" />
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39&libraries=services"></script>

<!--지도 영역-->
<div class="map_wrap" style="width:100%;height:93vh;">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
    <!--검색결과 목록-->
    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15">
                    <button type="submit" class="btn btn-primary">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>

<!--모달-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">'또갈지도?'에 저장</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/search/add}" th:object="${modalForm}" method="post">
                <input type="hidden" id="markerLat" name="markerLat" value="">
                <input type="hidden" id="markerLng" name="markerLng" value="">
                <input type="hidden" id="placeName" name="placeName" value="">
                <input type="hidden" id="placeAddress" name="placeAddress" value="">
                <input type="hidden" id="placeCateCode" name="placeCateCode" value="">

                <div class="modal-body">
                    <div th:replace="~{form_errors::formErrorsFragment}"></div>
                    <div class="mb-3">
                        <label for="inputReview" class="form-label">Review</label> <!-- 유효성검사 메시지 출력해줘야함-->
                        <textarea class="form-control" th:field="*{inputReview}" placeholder="나만의 후기를 남겨주세요!" rows="6"></textarea> <!--id="inputReview" name="inputReview"-->
                    </div>
                    <div class="mb-3">
                        <label for="inputMemo" class="form-label">Memo</label>
                        <textarea class="form-control" th:field="*{inputMemo}" placeholder="해당 장소와 관련한 메모를 적어보세요!" rows="6"></textarea><!--id="inputMemo" name="inputMemo"-->
                    </div>
                    <div class="d-flex justify-content-center">
                        <!--<div class="btn-group" role="group" aria-label="Radio buttons">
                            <label class="btn btn-outline-primary mx-1" for="myRecommend1"></label>
                            <input type="radio" class="btn-check" th:field="*{myRecommend}" th:value="Y" autocomplete="off">

                            <label class="btn btn-outline-danger mx-1" for="myRecommend2"></label>
                            <input type="radio" class="btn-check" th:field="*{myRecommend}" th:value="N" autocomplete="off">
                        </div>-->
                        <div th:each="type: ${myRecommends}" class="btn-group" role="group" aria-label="Radio buttons">
                            <input type="radio" class="btn-check" th:field="*{myRecommend}" th:value="${type.name()}" autocomplete="off">
                            <label class="btn btn-outline-primary mx-1" th:for="${#ids.prev('myRecommend')}" th:text="${type.desc}">추천여부</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" data-bs-dismiss="modal"/>
                    <input type="reset" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/searchmap/map.js" th:src="@{/js/searchmap/map.js}"></script>
</div>
</html>