<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--나중에 index.html로 바꾸기-->
<body>
<table border="1">
    <tr>
        <th>순위</th>
        <th>전국 오늘의 맛집</th>
        <th>감정</th>
    </tr>
    <tr th:each="eatjjim, idx : ${eatjjim}">
        <td th:text="${idx.index + 1}"></td> <!-- 순위 출력 -->
        <td th:text="${eatjjim.hotplace_name}"></td>
        <td>
            <span th:if="${eatjjim.avg_emo_result != null}" th:text="${eatjjim.avg_emo_result}"></span>
            <span th:if="${eatjjim.avg_emo_result == null}"></span>
        </td>
        <!--<td th:text="${eatjjim.avg_emo_result}"></td>-->
    </tr>
</table>
<br/>
<table border="1">
    <tr>
        <th>순위</th>
        <th>전국 오늘의 카페</th>
        <th>감정</th>
    </tr>
    <tr th:each="cafejjim, idx : ${cafejjim}">
        <td th:text="${idx.index + 1}"></td> <!-- 순위 출력 -->
        <td th:text="${cafejjim.hotplace_name}"></td>
        <td th:text="${cafejjim.avg_emo_result}"></td>
    </tr>
</table>



</body>
</html>