<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h5 class="my-3 border-bottom pb-2">공지사항등록</h5>
    <!--CSRF자동생성을 하기위해 th:action속성은  제거,
        CSRF값을 설정하기위한 hidden을 추가한다
        폼의 action속성의 값은 question_form의 브라우저의 현재 URL을 기준으로 설정된다.
         즉 수정버튼을 클릭해서 폼이 보여지는 경우는 action="/question/modify/질문번호" method="post"
         즉 등록버튼을 클릭해서 폼이 보여지는 경우는 action="/question/add" method="post"-->
        <form id="join" class="my-2" th:object="${noticeform}" th:action="@{/notice/add}" method="post">
          <!-- 오류시 보여주는 문구-->
          <div th:replace="~{form_errors::formErrorsFragment}"></div>
          <!-- 공지사항 제목-->
          <div>
            <label for="notiTitle" class="form-label"></label>
            <input type="text" class="form-control form-control-lg" th:field="*{notiContent}" placeholder="공지제목">
          </div>
          <!-- 공지사항 내용-->
          <div>
            <label for="notiTitle" class="form-label"></label>
            <textarea th:field="*{notiTitle}" class="form-control" rows="8" placeholder="내용을 입력해주세요."></textarea>
          </div>
          <div>
            <input type="submit" value="질문저장(등록,수정)" class="btn btn-primary my-2"/>
          </div>
        </form>
  </div>
</html>