<html layout:decorate="~{layout_for_main_notice_qna}">
<div layout:fragment="content" class="container my-3">
  <link rel="stylesheet" href="/css/notice/noticelist.css" th:href="@{/css/notice/noticelist.css}" />
  <h1 class="text-center my-4" style="font-weight: bold;">공지사항</h1><br/>
  <table class="table table-danger">
    <thead class="table-danger">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody class="table-light">
    <tr th:each="notice, loop : ${noticePage}">
      <!-- 페이지 번호 -->
      <td class="notice no" th:text="${noticePage.getTotalElements() - (noticePage.getNumber() * noticePage.getSize()) - loop.index}"></td>
      <!-- 공지사항 제목 -->
      <td class="notice title">
        <a href="/notice/detail/${notice.notiNo}" th:href="@{|/notice/detail/${notice.notiNo}|}" th:text="${notice.notiTitle}"></a>
      </td>
      <!-- 공지사항 작성일 -> 수정하면 날짜 변경. -->
      <td class="notice date" th:text="${#temporals.format(notice.notiDate,'yyyy-MM-dd')}"></td>
    </tr><!-- 1페이지당 출력할 게시물수만큼 반복끝 -->
    </tbody>
  </table>
  <!-- 공지사항 등록하기 -->
  <div sec:authorize="hasRole('ROLE_ADMIN')" class="text-end ms-auto">
    <a th:href="@{/notice/add}" class="btn btn-outline-danger">작성하기</a>
  </div>
  <!-- Pagination 부분 영역 시작 -->
  <div th:if="${noticePage != null && !noticePage.isEmpty()}">
   <!-- <ul class="pagination justify-content-center"> --><!-- 여기에 bg-danger 클래스 추가 -->
    <ul class="pagination justify-content-center my">
      <ul class="pagination my">
      <!-- 이전 버튼 -->
        <li class="page-item" th:classappend="${!noticePage.hasPrevious()} ? 'disabled'">
          <a class="page-link" th:href="@{|?page=${noticePage.getNumber() - 1}|}"><span>이전</span></a>
        </li>
        <!-- 페이지 번호: 반복 + 연결 + bootstrap [0] [1] [2] [3~] [4] [5] [6] [7]~~[9] [10] [11] -->
        <li class="page-item" th:each="page : ${#numbers.sequence(0, noticePage.getTotalPages() - 1)}"
            th:if="${page >= noticePage.getNumber() - 3 and page <= noticePage.getNumber() + 3}" th:classappend="${page == noticePage.getNumber()} ? 'active'">
          <a class="page-link bg-danger" th:href="@{|?page=${page}|}" th:text="${page + 1}"></a>
        </li>
        <!-- 다음 버튼 -->
        <li class="page-item" th:classappend="${!noticePage.hasNext()} ? 'disabled'">
          <a class="page-link" th:href="@{|?page=${noticePage.getNumber() + 1}|}"><span>다음</span></a>
        </li>
      </ul>
    </ul>
  </div><!-- Pagination 부분 영역 끝 -->

</div>
</html>