<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <typeAlias> 쓸거면 여기에 -->
    <typeAliases>
            <typeAlias alias="MyMapDTO" type="com.yumpro.ddogo.mymap.domain.MyMapDTO"/>
    </typeAliases>
    <!-- 매퍼 파일 추가 -->
    <mappers>
        <mapper resource="com/yumpro/ddogo/mymap/mapper/MyMapMapper.xml"/>
    </mappers>
    @Bean
    public RestMemberController restApi(){
    RestMemberController cont = new RestMemberController();
    cont.setMemberDao(memberDao);
    cont.setRegisterService(memberRegSvc);
    return cont;
    }
</configuration>