<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">

    <title>현재위치 표시하기</title>

    <p style="margin-top:10px"></p>
    <div id="map" style="width:90%;height:500px;"></div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39&libraries=services"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(37.506016526623334, 127.10691218161601),
                level: 3
            };

        //지도 생성
        var map = new kakao.maps.Map(mapContainer, mapOption);

        //db저장 정보 마커표시
       var positions = [
        /*[# th:each="hotplace : ${hotplaces}"]*/
        {
            title: /*[[${hotplace.hotplaceName}]]*/,
            latlng: new kakao.maps.LatLng(/*[[${hotplace.lat}]]*/, /*[[${hotplace.lng}]]*/)
        },
        /*[/]*/
    ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {
            var imageSize = new kakao.maps.Size(24, 35);
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            var marker = new kakao.maps.Marker({
                map: map,
                position: positions[i].latlng,
                title: positions[i].title
            });
        }
        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
    </script>
 <!------------- 현위치 표시 api------- -->

<div id="MapControlView">
    <button id="gpsButton" onclick="gps_check()"> 내 위치</button>
</div>
<script>
      // gps가 이용가능한지 체크하는 함수이며, 이용가능하다면 show location 함수를 불러온다.
        // 만약 작동되지 않는다면 경고창을 띄우고, 에러가 있다면 errorHandler 함수를 불러온다.
        // timeout을 통해 시간제한을 둔다.

        var gps_use = null; //gps의 사용가능 여부
        var gps_lat = null; // 위도
        var gps_lng = null; // 경도
        var gps_position; // gps 위치 객체




    //gps로 위치 불러오기
        gps_check();
        function gps_check(){
            if (navigator.geolocation) {
                var options = {timeout:60000};
                navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
            } else {
                alert("GPS_추적이 불가합니다.");
                gps_use = false;
            }
        }

            // gps 이용 가능 시, 위도와 경도를 반환하는 showlocation함수.
            function showLocation(pos) {
                console.log(pos);
                gps_use = true;
                gps_lat = pos.coords.latitude;
                gps_lng = pos.coords.longitude;


                 // 위치 정보가 확인되었으므로 이제 gps_tracking 함수 호출 가능
                    gps_tracking();
            }
            // error발생 시 에러의 종류를 알려주는 함수.
            function errorHandler(error) {
                if(error.code == 1) {
                    alert("접근차단");
                } else if( err.code == 2) {
                    alert("위치를 반환할 수 없습니다.");
                }
                gps_use = false;
            }

      //현재위치 마커 표시
       function gps_tracking(){
            if (gps_use) {
                map.panTo(new kakao.maps.LatLng(gps_lat,gps_lng));  //카카오api 사용자 좌표로 부드럽게 이동
                 // 마커 이미지의 이미지 크기 입니다
                //var gps_content = new kakao.maps.Size(20, 20);
                var gps_content = '<div><img class="pulse" draggable="false" unselectable="on" src="https://ssl.pstatic.net/static/maps/m/pin_rd.png" alt="" style="width: 20px; height: 20px;"></div>';
                var currentOverlay = new kakao.maps.CustomOverlay({   //마커를 사용자의 위도와 경도 좌표에 찍어준다.
                    position: new kakao.maps.LatLng(gps_lat,gps_lng),
                    content: gps_content,
                    map: map
                });
                currentOverlay.setMap(map);
            } else {
              alert("접근차단하신 경우 새로고침, 아닌 경우 잠시만 기다려주세요.");
              gps_check();
            }
        }
    </script>

    </div>
    </html>
