    <!--kakaoMap2.html-->
    <html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div layout:fragment="content" > <!-- container-fluid-->
        <head>
            <title>마이맵</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/css/mymapCSS.css">
            <link rel="stylesheet" type="text/css"
                  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <script type="text/javascript"
                    src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39&libraries=services"></script>
            <script type="text/javascript" th:src="@{/js/mymapAPI.js}"></script>
            <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
        </head>
<body>

    <!-- 좌측에 맛집 리스트를 표시하는 부분 -->
<div class="flex-contianer">
    <div id="listContainer" class="column">
            <!-- 맛집 검색창 -->
            <div class="input-group my-3">
                <input type="text" class="form-control" placeholder="맛집 검색">
                <button class="btn btn-primary" type="button">검색</button>
            </div>
            <!-- 카드로 목록 출력 -->
            <div class="card my-2" th:each="myhotpl : ${myHotplList}">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${myhotpl.sido}"></h6>
                    <h5 class="card-title" th:text="${myhotpl.hotplaceName}"></h5>
                    <p class="card-text" th:text="${myhotpl.address}"></p>
                    <p class="card-text text-right" style="height: 100%;" th:text="${myhotpl.avgEmoResult}%"></p>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-trash"></i></a> <!-- 삭제 -->
                        <a href="#" class="btn btn-outline-danger btn-sm"><i class="bi bi-heart-fill"></i></a> <!-- 찜 아이콘 -->
                        <a href="#" class="btn btn-outline-success btn-sm">내 후기</a> <!-- 내 후기 -->
                    </div>
                </div>
            </div>
    </div>

    <div class="column" id="mapContainer">
            <div id="map" style="width: 100%; height: 400px;"></div>
            <!-- 여기에 지도가 표시됩니다. -->


        <!-- 현위치 찾기-->
        <div id="MapControlView">
            <button id="gpsButton" onclick="gps_check()"> 내 주변보기</button>
        </div>
    </div>
</div>

    <!-----  javascript 영역 --------------->
    <!-- mymapAPI.js 파일을 포함 -->
    <script type="text/javascript" th:inline="javascript">
        // Thymeleaf를 이용하여 사용자 ID를 가져와서 JavaScript 변수로 설정
        var userId = /*[[${user_id}]]*/

        // 페이지 로드 시 맛집 데이터 가져오기
    $(document).ready(function () {
        loadPlaces(userId);
        console.log("사용자 ID: " + userId);

        // 현재 위치 확인 및 지도 표시
        gps_check();
    });
</script>


    </body>
    </html>
