<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" > <!-- container-fluid-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/mymap/mymapCSS.css" th:href="@{/css/mymap/mymapCSS.css}">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39&libraries=services"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/924c10682d.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <!-- 좌측에 맛집 리스트를 표시하는 부분 -->
    <div class="container-fluid">
        <div id="listContainer" class="column">
            <div class="cardBox">
                <div class="useInfo">
                    <h5 style="margin: 10px 0;"><span th:text="${user.user_name}"></span>님의 또갈지도</h5>
                </div>
                <!-- 맛집 검색창 -->
                <div class="input-group my-2">
                    <input type="text" class="form-control" placeholder="지역명 또는 가게명" id="searchInput">
                    <button class="btn btn-danger" id="searchButton">검색</button>
                </div>

                <!-- 카테고리 버튼 -->
                <div class="container-fluid" style="display: flex; flex-direction:column;">
                    <div class="button-container" style="display: flex; flex-basis: 0;">
                        <!-- 전체 버튼 -->
                        <button id="everyCateButton" class="btn btn-danger btn-sm mx-2" data-cate-no="0" onclick="filterCards(0)" style="flex: 1;">전체</button>
                        <!-- 음식점 버튼 -->
                        <button id="restaurantButton" class="btn btn-danger btn-sm mx-2" data-cate-no="1" onclick="filterCards(1)" style="flex: 1;">식당</button>
                        <!-- 카페 버튼 -->
                        <button id="cafeButton" class="btn btn-danger btn-sm mx-2" data-cate-no="2" onclick="filterCards(2)"  style="flex: 1;">카페</button>
                    </div>
                </div>


                <!-- 카드로 목록 출력 -->
                <div class="card my-2" th:each="myhotpl : ${hotplList}" th:attr="data-cate-no=${myhotpl.hotplaceCateNo}">
                    <div class="card-body" >
                        <input type="hidden" id="lat" th:value="${myhotpl.lat}" />
                        <input type="hidden" id="lng" th:value="${myhotpl.lng}" />
                        <input type="hidden" id="sido" th:value="${myhotpl.sido}" />
                        <input type="hidden" id="gugun" th:value="${myhotpl.gugun}" />
                        <input type="hidden" id="review" th:value="${myhotpl.review}" />
                        <input type="hidden" id="address" th:value="${myhotpl.address}" />
                        <input type="hidden" id="myHotplace" th:value="${myhotpl.hotplaceName}" />

                        <!--<h6 class="card-subtitle mb-2 text-muted" th:text="$${myhotpl.hotplaceName}"></h6>-->
                        <div style="display: flex; align-items: center;">
                            <h5 class="card-title">
                                <strong th:text="${myhotpl.hotplaceName}" class="font-weight-bold"></strong>
                                <!-- 카테고리 아이콘 -->
                                <i th:if="${myhotpl.hotplaceCateNo == 1}" class="fa-solid fa-utensils fa-l" style="color: #c82f09;  margin-left: 5px;"></i>
                                <i th:if="${myhotpl.hotplaceCateNo == 2}" class="fa-solid fa-mug-hot fa-l" style="color: #c82f09;  margin-left: 5px;"></i>
                            </h5>
                        </div>

                        <p class="card-text text-muted mb-0" style="font-size: 0.8em;" th:text="${myhotpl.address}"></p>
                        <!-- 감정결과 박스 -->
                        <div class="emoResult" style="margin: 5px; background-color: #f3c8c8; text-align: center; padding: 5px; border-radius: 10px;">
                            <strong>리뷰 온도 </strong>
                            <a th:text="${myhotpl.avgEmoResult != null ? myhotpl.avgEmoResult.toString()+ '&#8451;' : ''}" style="margin: 0;"></a>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-sm btn-update-review mx-1" data-bs-toggle="modal" data-bs-target="#myModal" th:attr="data-review-no=${myhotpl.mapNo}, data-hotplace-no=${myhotpl.hotplaceNo}">내 후기</button>
                            <a th:href="@{'/mymap/delete/'+${myhotpl.mapNo}}" class="btn btn-outline-secondary btn-sm btn-delete mx-1" data-toggle="modal" data-target="#deleteModal" th:attr="data-map-id=${myhotpl.mapNo}" onclick="return false;">삭제</a>

                        </div>
                    </div> <!-- card-body -->
                </div> <!-- card my-2 -->
            </div>  <!-- cardBox -->

            <!-- 후기 조회&수정 모달 -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
                <!-- 모달 내용 -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- 모달 헤더 -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="titleModalLabel">내 후기 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="updateReviewForm">
                            <!-- 모달 본문 -->
                            <div class="modal-body">
                                <!-- 후기 입력 폼 -->
                                <div class="mb-3">
                                    <label for="review" class="form-label">REVIEW</label>
                                    <div id="error1"></div>
                                    <textarea class="form-control" id="modalReview" name="review" rows="6"></textarea>
                                    <!-- 필수입력 검사 -->
                                    <div id="review-error" class="text-danger"></div>
                                </div>
                                <!-- 메모 입력 필드 -->
                                <div class="mb-3">
                                    <label for="memo" class="form-label">MEMO</label>
                                    <textarea class="form-control" id="memo" name="memo" rows="6"></textarea>
                                </div>
                                <!-- 모달 폼 내에 숨겨진 input 요소 추가 -->
                                <input type="hidden" id="mapNo" name="mapNo" />
                                <input type="hidden" id="hotplaceNo" name="hotplaceNo" />

                                <!-- 라디오 버튼 -->
                                <div id="error2"></div>
                                <div class="d-flex justify-content-center">
                                    <div class="btn-group" role="group" aria-label="Radio buttons">
                                        <input class="btn-check" type="radio" name="recomm" id="recommY" value="Y">
                                        <label class="btn btn-outline-danger mx-1" for="recommY">또갈지도</label>

                                        <input class="btn-check" type="radio" name="recomm" id="recommN" value="N">
                                        <label class="btn btn-outline-secondary mx-1" for="recommN">안갈지도</label>
                                    </div>
                                </div>
                            </div>   <!-- modal body 끝 -->
                            <!-- 모달 푸터 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"  onclick="submitForm()">저장</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div><!-- modalContent-->
                </div><!--modal dialog -->
            </div>    <!-- modal fade: 후기 조회&수정 모달 끝-->


            <!-- 페이지네이션 UI -->
            <nav aria-label="PageNavi" class="mt-4">
                <ul class="qna-pagination justify-content-center">
                    <li class="qna-page-item">
                        <!-- 이전 페이지로 이동 -->
                        <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${userId},page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- 페이지 번호들을 루프로 생성 -->
                    <li class="qna-page-item" th:each="pageNo : ${#numbers.sequence(1, totalPages)}" th:class="${pageNo == currentPage} ? 'qna-page-item active' : 'qna-page-item'">
                        <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${userId},page=${pageNo},search=${search})}" th:text="${pageNo}"></a>
                    </li>
                    <li class="qna-page-item">
                        <!-- 다음 페이지로 이동 -->
                        <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${userId},page=${totalPages},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>









        </div> <!-- listContainer 끝 -->

        <!-- 지도 영역 시작   -->
        <div class="column" id="myMapContents">
            <div class="mapBox" style="width:100%; height:100%;">
                <!-- 지도를 표시할 div -->
                <input type="hidden" id="userIdContainer" th:attr="data-user-id=${user.userId}">
                <div class="myBtnGroup">
                    <button id="gpsBtn" class="btn btn-danger mx-2"> 내 주변보기</button>
                    <a href="/user/modifyForm/${#authentication.principal.username}" sec:authorize="isAuthenticated()" th:href="@{|/user/modifyForm/${#authentication.principal.username}|}" class="btn btn-light mx-2" style="margin-right: 5px;" >내 정보 수정</a>
                </div>
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            </div>
        </div>
    </div> <!-- containerFluid-->
    </body>
    <!-- 지도 api 연동 Javascript 양역 ---------------- -->
    <script type="text/javascript" th:inline="javascript">

        // Thymeleaf를 이용하여 사용자 ID를 가져와서 JavaScript 변수로 설정

        var userId = /*[[${user_id}]]*/;


    </script>
    <script src="/js/mymap/hotplCard.js" th:src="@{/js/mymap/hotplCard.js}"></script>
    <script src="/js/mymap/mymapKAPI.js"></script>
    <script src="/js/mymap/reviewModal.js" th:src="@{/js/mymap/reviewModal.js}"></script>
<!--    <script src="/js/mymap/HajaxPaging.js" th:src="@{/js/mymap/HajaxPaging.js}"></script>-->

</div>
</html>

                       <!-- &lt;!&ndash; 페이지네이션
                        <nav aria-label="PageNavi"  class="mt-4">
                            <ul class="qna-pagination justify-content-center">
                                <li class="qna-page-item">
                                    <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${user.userId},page=1)}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>
                                <li class="qna-page-item" th:each="pageNo : ${#numbers.sequence(1, totalPages)}"
                                    th:class="${pageNo == currentPage} ? 'qna-page-item active' : 'qna-page-item'">
                                    <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${user.userId},page=${pageNo})}" th:text="${pageNo}"></a>
                                </li>
                                <li class="qna-page-item">
                                    <a class="qna-page-link" th:href="@{/mymap/{user_id}(user_id=${user.userId},page=${totalPages})}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
-->

