<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" > <!-- container-fluid-->
    <head>
        <title>마이맵</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" href="/css/mymapCSS.css">
    </head>
    <body>

  <!-- 좌측에 맛집 리스트를 표시하는 부분 -->
<div class="container-fluid">
    <div id="listContainer" class="column">
      <div class="col-md-3">
         <h2><span th:text="${user.user_name}"></span>님의 맛집 리스트</h2>

          <!-- 맛집 검색창 -->
          <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="맛집 검색">
            <button class="btn btn-primary" type="button">검색</button>
          </div>

        <!-- 카드로 목록 출력 -->
        <div class="card my-2" th:each="myhotpl : ${hotplList}">
            <div class="card-body">

              <!--<h6 class="card-subtitle mb-2 text-muted" th:text="$${myhotpl.hotplaceName}"></h6>-->
              <h5 class="card-title" th:text="${myhotpl.hotplaceName}"></h5>
               <p class="card-text" th:text="${myhotpl.address}"></p>

              <!-- 감정결과 박스 -->
              <div class="square" >
                <p th:text="${myhotpl.avgEmoResult != null ? myhotpl.avgEmoResult.toString() : ''}"></p>
              </div>

              <div class="justify-content-end">
                  <a href="#" class="btn btn-outline-secondary btn-sm btn-delete" data-toggle="modal" data-target="#deleteModal" th:attr="data-map-id=${myhotpl.mapNo}">삭제</a> <!-- 삭제 -->
                <a href="#" class="btn btn-outline-danger btn-sm">찜</a> <!-- 찜 아이콘 -->
                <a href="#" class="btn btn-outline-success btn-sm">내 후기</a> <!-- 내 후기 -->
              </div>

          </div>
        </div>
      </div>  <!-- col-md-3 -->
        <!-- 맛집 리스트 삭제 모달 -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">맛집 삭제 확인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        해당 맛집을 삭제하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- 삭제 확인용 모달창 끝 -->
    </div><!-- listContainer 끝 -->
<!-- 지도 영역 시작   -->
  <div class="column" id="myMapContents">
      <div class="col-md-9">
        <!-- 지도를 표시할 div -->
          지도출력영역
           <div id="map" style="width:90%;height:500px;"></div>
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39"></script>

          <!--db로 마커값 받아오기 -->
          <script th:inline="javascript">
              //지도 생성 스크립트
                  var mapContainer = document.getElementById('map'), //지도를 표시할 div
                        mapOption = {
                        center: new kakao.maps.LatLng(37.506016526623334, 127.10691218161601),  //기본 중심좌표 :석촌
                        level: 3
                    };

                //지도 생성
                var map = new kakao.maps.Map(mapContainer, mapOption);

                //db저장 정보 마커표시, 변수 가져오기

                /*<![CDATA[*/
                var positions = [
                    /*[# th:each="myhotpl : ${myHotplList}"]*/
                    {
                        title: /*[[${myhotpl.hotplaceName}]]*/,
                        latlng: new kakao.maps.LatLng(/*[[${myhotpl.lat}]]*/, /*[[${myhotpl.lng}]]*/)
                    },
                    /*[/]*/
                ];
                /*]]>*/
          </script>
        <!--  <script type="text/javascript" src="/js/mymapAPI.js"></script>-->

          <!------------- 현위치 표시 api------- -->

          <div id="MapControlView">
                   <button id="gpsBtn" class="btn-outline-danger gpsBtn" onclick="gps_check()"> 내 주변보기</button>
                 </div>
               </div>
           </div>
         </div>



         </body>
<!-----  javascript 영역 --------------->
           <!-- 지도 api 연동 -->
   <!--db로 마커값 받아오기 -->
 <script type="text/javascript" th:inline="javascript">
     // Thymeleaf를 이용하여 사용자 ID를 가져와서 JavaScript 변수로 설정
     var userId = /*[[${user_id}]]*/
     var userName = /*[[${user_name}]]*/
     var mapNo= /*[[${mapNo}]]*/

</script>
<script>
<!--     // 현재 위치 확인 및 지도 표시
     gps_check();-->


      // 마커 이미지의 이미지 주소
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {
            var imageSize = new kakao.maps.Size(24, 35);
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            var marker = new kakao.maps.Marker({
                map: map,
                position: positions[i].latlng,
                title: positions[i].title
                image: markerImage // 마커 이미지
            });
        }

  </script>
  <script>
      //gps로 위치 불러오기 : gps_check()함수
      gps_check();
       function gps_check(){
           if (navigator.geolocation) {
               var options = {timeout:60000};
               navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
           } else {
               alert("GPS_추적이 불가합니다.");
               gps_use = false;
           }
       }
       // 이용 가능하면, 위도와 경도를 반환하는 showlocation함수.
        function showLocation(pos) {
                console.log(pos);
                gps_use = true;
                gps_lat = pos.coords.latitude;
                gps_lng = pos.coords.longitude;
                // 위치 정보가 확인되었으므로 이제 gps_tracking 함수 호출 가능
                gps_tracking();
            }
            // error발생 시 에러의 종류를 알려주는 함수.
            function errorHandler(error) {
                if(error.code == 1) {
                    alert("접근차단");
                } else if( err.code == 2) {
                    alert("위치를 반환할 수 없습니다.");
                }
                gps_use = false;
            }
      //현재위치 마커 표시
       function gps_tracking(){
            if (gps_use) {
                map.panTo(new kakao.maps.LatLng(gps_lat,gps_lng));  //카카오api 사용자 좌표로 부드럽게 이동
                 // 마커 이미지의 이미지 크기 입니다
                //var gps_content = new kakao.maps.Size(20, 20);
                var gps_content = '<div><img class="pulse" draggable="false" unselectable="on" src="https://ssl.pstatic.net/static/maps/m/pin_rd.png" alt="" style="width: 20px; height: 20px;"></div>';
                var currentOverlay = new kakao.maps.CustomOverlay({   //마커를 사용자의 위도와 경도 좌표에 찍어준다.
                    position: new kakao.maps.LatLng(gps_lat,gps_lng),
                    content: gps_content,
                    map: map
                });
                currentOverlay.setMap(map);
            } else {
              alert("접근차단하신 경우 새로고침, 아닌 경우 잠시만 기다려주세요.");
              gps_check();
            }
        }
  </script>
<!-- 맛집 리스트 삭제 모달용 -->
<script>
    // 모든 삭제 버튼에 대한 이벤트 리스너 등록
  var deleteButtons = document.querySelectorAll('.btn-delete');

  deleteButtons.forEach(function (button) {
      button.addEventListener('click', function () {
          var mapId = this.getAttribute('data-map-id');
          document.getElementById('deleteModal').setAttribute('data-map-id', mapId);
      });
  });

  // 삭제 확인 버튼 클릭 시 해당 맛집 삭제
  document.getElementById('confirmDelete').addEventListener('click', function () {
      var mapId = document.getElementById('deleteModal').getAttribute('data-map-id');

      // 서버로 삭제 요청을 보내는 XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();

      xhr.open('GET', '/mymap/delete/' + mapId, true);

      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                  // 삭제 성공 시 해당 맛집 카드를 화면에서 제거
                  var cardToDelete = document.querySelector('.card[data-map-id="' + mapId + '"]');
                  if (cardToDelete) {
                      cardToDelete.parentNode.removeChild(cardToDelete);
                  }
                  document.getElementById('deleteModal').style.display = 'none'; // 모달 창 닫기
              } else {
                  // 삭제 실패 시 처리
                  alert('삭제 실패');
                  document.getElementById('deleteModal').style.display = 'none'; // 모달 창 닫기
              }
          }
      };

      xhr.send();
  });

</script>
</div>
</html>

<!--  &lt;!&ndash; mymapAPI.js 파일을 포함 &ndash;&gt;-->
<!--  <script type="text/javascript" src="/js/mymapAPI.js"></script>-->

