<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" > <!-- container-fluid-->
    <head>
        <title>마이맵</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" href="/css/mymapCSS.css">
    </head>
    <body>


    <section class="box">
            <aside class="box-sidebar">
                고정너비
            </aside>
            <div class="box-contents">
                여기는 지도출력 영역
                <!-- 지도 사이즈 정하기 -->
                <div id="map"  style="width:100%;height:800px;"></div>

                <!-- 지도 api 연동 -->
                <script type="text/javascript"
                        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=820d01b1cce59185ed776419691dab39&libraries=services"></script>

                <!--db로 마커값 받아오기 -->
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var positions = [
                        /*[# th:each="hotplace : ${hotplaces}"]*/
                        {
                            title: /*[[${hotplace.hotplaceName}]]*/,
                            latlng: new kakao.maps.LatLng(/*[[${hotplace.lat}]]*/, /*[[${hotplace.lng}]]*/)
                        },
                        /*[/]*/
                    ];
                    /*]]>*/
                </script>
                <script type="text/javascript" src="/js/mymapAPI.js"></script>

                <!------------- 현위치 표시 api------- -->

                <div id="MapControlView">
                    <button id="gpsButton" onclick="gps_check()"> 내 주변보기</button>
                </div>

           </div>
        </section>
    </body>
</div>
</html>