<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
  <h2>json test</h2>
    <form th:action="@{/user/goajax}" method="post">
      <div>
          <input type="text" name="email" id="email">
      </div>
        <!--<div th:text="${userid}"></div>-->
        <button type="button" id="button" name="button">클릭</button>


    </form>
    <div>
        <p id="text"> 요기가 바뀔예정</p>
    </div>
</div>
<script layout:fragment="script">
    document.getElementById('button').addEventListener('click', loadText);
 console.log("1");
function loadText() {
 console.log("2");
    var emailValue = document.getElementById('email').value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/test/goajax', true);

    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    // email 값을 전송
    var params = 'email=' + emailValue;

    xhr.onload = function () {
     console.log("3: ",this.status );
        if (this.status == 200) {
        console.log("4");
            // JSON 응답 파싱
            var responseJson = JSON.parse(this.responseText);

            // user.userid 값을 가져와서 화면에 출력
            var userid = responseJson.userid;
            console.log("userid:", userid);

            // 결과를 화면에 출력
            document.getElementById('text').innerText = '사용자 ID: ' + userid;

        }
    };

    xhr.send(params);
}

</script>



<!--document.getElementById('button').addEventListener('click',loadText);
console.log("찍어봄!");
function loadText() {
console.log("찍어봄2");
var emailValue = document.getElementById('email').value;
var xhr = new XMLHttpRequest();
xhr.open('POST', '/test/goajax', true);
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

// email 값을 전송
var params = 'email=' + emailValue;

xhr.onload = function () {
console.log("찍어봄3");
if (this.status == 200) {

var userid = this.responseText;
console.log("userid:", userid);

// 결과를 화면에 출력
document.getElementById('text').innerText = '사용자 ID: ' + userid;
}
};

xhr.send(params);
}
</script>>-->



       <!-- document.getElementById('button').addEventListener('click',loadText);
                    console.log("찍어봄1");
             function loadText(){

                var emailValue = document.getElementById('email').value;
                console.log("emailValue:",emailValue);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/user/goajax', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // POST 요청 설정


            // FormData 객체를 사용하여 emailValue 전송
                var formData = new FormData();
                formData.append('email', emailValue);
                console.log("formData.append",email);

                xhr.onload = function(){
                console.log("찍어봄2");
                    console.log('start:',xhr.readyState);
                    if(this.status == 200){
                    var user = JSON.parse(this.responseText);
                    console.log(user.name);
                    console.log(user.age);

                    var output = '';

                    output = user.name;

                     document.getElementById('text').innerText = output;
                    }
                }
               xhr.send(formData);
             }-->
</html>