
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">

    <a href="javascript:kakaoLogin();" id="button">카카오로 로그인!</a>
    <a href="javascript:kakaoLogout();" id="button2">카카오로 로그아웃!</a>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>


    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=5a378555d1b9b81713af9609ce071c9d&redirect_uri=http://localhost/user/kakao&prompt=response_type=code">카카오로 로그인4!</a>
    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=5a378555d1b9b81713af9609ce071c9d&redirect_uri=http://localhost/user/kakao&prompt=select_account">카카오로 로그인3!</a>

    <!-- post -->
    Content-type: application/x-www-form-urlencoded;charset=utf-8
    https://kauth.kakao.com/oauth/token
    grant_type=authorization_code
    client_id=5a378555d1b9b81713af9609ce071c9d
    redirect_uri=http://localhost/user/kakao

    <!-- 사용자 정보조회 -->
    https://kapi.kakao.com/v2/user/me
    Authorization: Bearer ${ACCESS_TOKEN}
    Content-type: application/x-www-form-urlencoded;charset=utf-8


<!--    <script>-->
<!--        Kakao.init("5a378555d1b9b81713af9609ce071c9d");-->
<!--        console.log(Kakao.isInitialized()); // sdk 초기화 여부 판단-->

<!--        function kakaoLogin() {-->
<!--            Kakao.Auth.login({-->
<!--                scope: 'profile_nickname,account_email,gender,age_range,birthday',-->
<!--                success: function (authObj) {-->
<!--                    console.log('authObj:', authObj);-->
<!--                    Kakao.API.request({-->
<!--                        url: '/v2/user/me',-->
<!--                        success: function (res) {-->
<!--                            const kakao_account = res.kakao_account;-->
<!--                            console.log('kakao_account:', kakao_account);-->

<!--                            // Create a data object with the information you want to send-->
<!--                            const data = {-->
<!--                                authObj: authObj,-->
<!--                                kakao_account: kakao_account-->
<!--                            };-->

<!--                            // Send the data to your server via AJAX POST request-->
<!--                            const xhr = new XMLHttpRequest();-->
<!--                            xhr.open('POST', '/user/kakao', true);-->
<!--                            xhr.setRequestHeader('Content-Type', 'application/json');-->
<!--                            xhr.send(JSON.stringify(data));-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--        // 카카오 로그아웃-->
<!--        function kakaoLogout() {-->
<!--            if (Kakao.Auth.getAccessToken()) {-->
<!--                Kakao.API.request({-->
<!--                    url: '/v1/user/unlink',-->
<!--                    success: function (response) {-->
<!--                        console.log(response);-->
<!--                    },-->
<!--                    fail: function (error) {-->
<!--                        console.log(error);-->
<!--                    },-->
<!--                });-->
<!--                Kakao.Auth.setAccessToken(undefined);-->
<!--            }-->
<!--        }-->
<!--    </script>-->

</div>
</html>
