<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
      <div>
          <h3>ID찾기</h3>
          <form id="login" class="my-3" th:object="${userDTO}" th:action="@{/user/searchid}" method="post">
              <!-- 에러출력 영역-->
              <div th:replace="~{form_errors::formErrorsFragment}"></div>
              <!--  이메일입력 -->
              <div class="field">
                  <label for="email">Email</label>
                  <input type="text" th:field="*{email}">
              </div>
              <div>
                  <!--  비밀번호 찾으러가기 -->
                  <li> <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/pwdsearch}">비밀번호 찾기</a></li>
              </div>
              <!-- 아이디 찾기 submit -->
              <div>
                  <button type="submit" class="btn btn-primary" >아이디 찾기</button>
              </div>
          </form>
      </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#searchIdModal').on('show.bs.modal', function () {
            var userId = $('#userIdPlaceholder').text(); // Get the userId value from the placeholder
            $('#userIdPlaceholder').text(userId);
        });

        // Handle form submission
        $('#login').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally

            // Perform the form submission via AJAX or as needed
            $.ajax({
                type: 'POST',
                url: '/user/searchid', // Use the correct URL for your backend endpoint
                data: $('#login').serialize(),
                success: function (response) {
                    $('#userIdPlaceholder').text(response);
                    $('#searchIdModal').modal('show'); // Show the modal with the updated value
                },
                error: function () {
                    // Handle error
                }
            });
        });
    });
</script>

</html>