.btn-ddo {
  color: #fff;
  background-color: #FF0841;
  border-color: #FF0841;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  float: right;
}
.btn-ddo:hover {
  color: #fff;
  background-color: #df1040;
  border-color: #df1040;
}
.btn-check:focus + .btn-ddo, .btn-ddo:focus {
  color: #fff;
  background-color: #df1040;
  border-color: #df1040;
  box-shadow: 0 0 0 0.25rem #ff426e81;
}
.btn-check:checked + .btn-ddo, .btn-check:active + .btn-ddo, .btn-ddo:active, .btn-ddo.active, .show > .btn-ddo.dropdown-toggle {
  color: #fff;
  background-color: #df1040;
  border-color: #df1040;
}
.btn-check:checked + .btn-ddo:focus, .btn-check:active + .btn-ddo:focus, .btn-ddo:active:focus, .btn-ddo.active:focus, .show > .btn-ddo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #ff426e81;
}

.btn-ddo:disabled{
    color:#fff;background-color:#6c757d;border-color:#6c757d
    }

.bd-red{border-color: #FF0841; background-color:#fff;}
.bd-yellow{border-color: #ffc107; background-color:#fff;}
.bd-green{border-color: #39A998; background-color:#fff;}
.bd-blue {border-color: #0A74DA; background-color: #fff;}

.right-ddo {
    text-align: right;
}
