:root {
  --gap: 20px;
}


body {
  background-color: #efefef;
  flex-direction:row
  flex-wrap: nowrap
}

box{
	display: flex;

}

/* 좌측 사이드바 스타일 */
.box-sidebar {
    width: 400px; /* 원하는 고정 너비로 조정 */
    background-color: gray; /* 배경색 설정 */
    padding: 20px; /* 여백 설정 */
    box-sizing: border-box; /* 내용에 padding이 포함되도록 설정 */
    height: 100%; /* 높이 100%로 설정하여 컨텐츠가 꽉 채워지도록 함 */
}

/* 우측 지도 영역 스타일 */
.box-contents {
    flex: 1; /* 남은 공간을 모두 채우도록 설정 */
    background-color: #fff; /* 배경색 설정 */
    padding: 20px; /* 여백 설정 */
    box-sizing: border-box; /* 내용에 padding이 포함되도록 설정 */
    height: 100%; /* 높이 100%로 설정하여 컨텐츠가 꽉 채워지도록 함 */
}
