<!--<link rel="stylesheet" href="/css/footer/mdb.dark.min.css" th:href="@{/css/footer/mdb.dark.min.css}" />
<link rel="stylesheet" href="/css/footer/mdb.dark.rtl.min.css" th:href="@{/css/footer/mdb.dark.rtl.min.css}" />
<link rel="stylesheet" href="/css/footer/mdb.min.css" th:href="@{/css/footer/mdb.min.css}" />
<link rel="stylesheet" href="/css/footer/mdb.rtl.min.css" th:href="@{/css/footer/mdb.rtl.min.css}" />-->

<footer  th:fragment="footerFragment" class="text-center text-lg-start bg-light text-muted">

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-5 col-xl-4 mx-auto mb-4">
                    <p/>
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>YumPro Company
                    </h6>
                    <p>
                        사업자등록번호 : 123-45-67890
                    <p/>
                    대표 : 손민희,안유진,이류안,이채은,정보람
                    </p>
                    <a th:href="@{/notice/list}">공지사항</a>
                    <a th:href="@{/qna/list}">문의사항</a>
                    <p/>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">
                    <p/>
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> 서울 강남구 테헤란로 7길 7(역삼동 에스코빌딩 6층)</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        E-mail : ddogomap@email.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                </div>
            </div>
        </div>
    </section>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="/main">Ddogo</a>
    </div>

</footer>
