<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/main/main.css" th:href="@{/css/main/main.css}" />


    <span><p class="nav-link" sec:authorize="isAuthenticated()" sec:authentication="name">회원</span>


    <ul>
        <li> <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/joinForm}">회원가입</a></li>
        <li> <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></li>
        <li><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃(기능구현x)</a></li>
        <li>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/user/modifyForm/${#authentication.principal.username}|}">
                정보수정
            </a>
        </li>

    </ul>

    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-md-6" >
                <h4 class="title" style="margin:20px;">오늘의 Best 음식점</h4>
                <div th:each="eatjjim,  idx :${eatjjim}" class="card p-1 mb-2">
                    <div class="mt-1" style="padding: 20px;">
                        <div class="badge" style="display: inline-block; margin-right: 10px;">
                            <span th:text="'베스트 ' + (${idx.index + 1})">베스트</span>
                        </div>
                        <h5 class="heading" th:text="${eatjjim.hotplace_name}" style="display: inline-block;"></h5>
                        <div class="ms-2 c-details">
                            <span class="mb-0" th:text="${eatjjim.address}"></span>
                        </div>
                        <div class="mt-3">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${eatjjim.avg_emo_result} + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3">
                                <span class="text1" th:text="'리뷰 온도 ' + ${eatjjim.avg_emo_result}+'°C'" style="float: left;"></span>
                                <span class="text2" th:text="'오늘의 저장수 ' + ${eatjjim.jjim}" style="float: right;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="title" style="margin:20px;">오늘의 Best 카페</h4>
                <div th:each="cafejjim,  idx :${cafejjim}" class="card p-2 mb-2">
                    <div class="mt-1" style="padding: 15px;">
                        <div class="badge" style="display: inline-block; margin-right: 10px;">
                            <span th:text="'베스트 ' + (${idx.index + 1})">베스트</span>
                        </div>
                        <h5 class="heading" th:text="${cafejjim.hotplace_name}" style="display: inline-block;"></h5>
                        <div class="ms-2 c-details">
                            <span class="mb-0" th:text="${cafejjim.address}"></span>
                        </div>
                        <div class="mt-3">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${cafejjim.avg_emo_result} + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3">
                                <span class="text1" th:text="'리뷰 온도 ' + ${cafejjim.avg_emo_result}+'°C'" style="float: left;"></span>
                                <span class="text2" th:text="'오늘의 저장수 ' + ${cafejjim.jjim}" style="float: right;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br/>
    <br/>
    <!-- 시도 select -->
    <h4 class="title" style="margin-left:50px;">이번달 Best</h4>
    <div class="container2 mt-1 mb-1">
        <div>
            <label for="sido" class="form-label" style="margin:10px;">시/도</label>
        </div>
        <div class="col-md-2" style="margin:10px;">
            <select name="sido" id="sido" class="form-select">
                <option value="">선택하세요</option>
            </select>
        </div>
        <div>
            <label for="gugun" class="form-label" style="margin:10px;">구/군</label>
        </div>
        <div class="col-md-2" style="margin:10px;">
            <select name="gugun" id="gugun" class="form-select">
                <option value="">선택하세요</option>
            </select>
        </div>
        <div>
            <label for="category" class="form-label" style="margin:10px;">카테고리</label>
        </div>
        <div class="col-md-2" style="margin:10px;">
            <select name="category" id="category" class="form-select">
                <option value="">선택하세요</option>
                <option value="1">음식점</option>
                <option value="2">카페</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-danger" id="sendButton" style="margin:10px;">검색</button>
        </div>
    </div>

    <!--월별 Best 자바스크립트에서 처리-->
    <div id="result" class="card p-2 mb-2" style="padding: 30px;">
        <div class="mx-3" style="padding: 30px;">
            <div class="badge" style="display: inline-block; margin-right: 10px;">
                <span>순위</span>
            </div>
            <h6 class="heading" style="display: inline-block;">가게이름</h6>
            <div class="ms-2 c-details">
                <span class="mb-0"></span>
            </div>
            <div class="mt-3" style="width: 50%;">
                <div class="progress2">
                    <div class="progress2-bar justify-content-center" role="progressbar" th:style="'width: ' + 리뷰온도 + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mt-3">
                    <span class="text1" th:text="'리뷰온도 ' + 리뷰온도" style="float: left;"></span>
                    <span class="text2" th:text="'찜수 ' + 찜수" style="float: right;"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

<!-- 자바스크립트 -->
<script layout:fragment="script">
    document.addEventListener("DOMContentLoaded", function () {
    var resultDiv = document.getElementById("result");
    resultDiv.style.display = "none"; // 페이지 로드 시 결과 숨기기

    // 페이지 로드 시 초기 데이터를 가져와서 선택 상자를 생성하는 부분
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "http://localhost/initialData", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    xhr.onload = function () {
        if (xhr.status === 200) {
            try {
                var response = JSON.parse(xhr.responseText);
                console.log(response);

                var sidoSelect = document.getElementById("sido");
                var gugunSelect = document.getElementById("gugun");

                // JSON 객체를 가나다순으로 정렬
                var sortedResponse = {};
                Object.keys(response).sort().forEach(function(key) {
                    sortedResponse[key] = response[key];
                });

                // 가나다순으로 정렬된 JSON 객체를 사용하여 시도 목록 초기화
                for (var sido in sortedResponse) {
                    var option = document.createElement("option");
                    option.value = sido;
                    option.textContent = sido;
                    sidoSelect.appendChild(option);
                }

                // 초기 시/도 선택
                sidoSelect.addEventListener("change", function () {
                    var selectedSido = this.value; // 선택한 시/도 값을 가져옴
                    var gugunArr = response[selectedSido];

                    // 구군 목록 초기화
                    gugunSelect.innerHTML = '<option value="">선택하세요</option>';
                    if (gugunArr) {
                        for (var i = 0; i < gugunArr.length; i++) {
                            var option = document.createElement("option");
                            option.value = gugunArr[i];
                            option.textContent = gugunArr[i];
                            gugunSelect.appendChild(option);
                        }
                    }
                });

                // 초기 시/도 선택
                sidoSelect.dispatchEvent(new Event("change"));
            } catch (error) {
                console.error("JSON 파싱 오류:", error);
            }

        } else {
            console.log("Error:", xhr.statusText);
            alert("Error:" + xhr.statusText);
        }
    };

    xhr.onerror = function () {
        console.log("Network Error");
        alert("Network Error");
    };

    xhr.send();

    // 검색 버튼 클릭 시 실행되는 부분
    var sendButton = document.getElementById("sendButton");
    sendButton.addEventListener("click", function () {
        var selectedSido = document.getElementById("sido").value; //선택한 시도값
        var selectedGugun = document.getElementById("gugun").value; //선택한 구군값
        var selectedCategory = parseInt(document.getElementById("category").value); //선택한 카테고리 값
        var resultDiv = document.getElementById("result");

        if (selectedSido === "" || selectedGugun === "" || isNaN(selectedCategory)) {
            // 사용자가 조건을 선택하지 않은 경우 결과를 숨김
            resultDiv.style.display = "none";
            alert("시도, 구군, 카테고리를 선택해주세요.");
        } else {
            // 선택한 조건에 따라 결과를 표시
            resultDiv.style.display = "block";

            // 이후 검색과 관련된 로직을 수행
            var formData = new FormData();
            formData.append("sido", selectedSido);
            formData.append("gugun", selectedGugun);
            formData.append("hotplace_cate_no", selectedCategory);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost/main", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    try {
                        var response = JSON.parse(xhr.responseText);
                        console.log(response);

                        // 여기서 response 객체를 활용하여 필요한 처리를 수행
                        // 테이블 업데이트 코드 추가
                        var resultDiv = document.getElementById("result");
                        resultDiv.innerHTML = ""; // 기존 데이터 삭제

                        if (response.monthBestList.length === 0) {
                            // 결과가 없을 때 메시지를 표시
                            var noDataMessage = document.createElement("p");
                            noDataMessage.textContent = "이번달에 저장된 가게가 없습니다.";
                            resultDiv.appendChild(noDataMessage);
                        } else {
                            // 결과가 있을 때 카드에 데이터 추가
                            for (var i = 0; i < response.monthBestList.length; i++) {
                                var entry = response.monthBestList[i];

                                // 카드를 생성하여 데이터 표시
                                var card = document.createElement("div");
                                card.className = "card p-2 mb-2";

                                var cardContent = document.createElement("div");
                                cardContent.className = "mt-1";
                                cardContent.style.padding = "15px";

                                // 순위를 표시하는 열 추가
                                var rankBadge = document.createElement("div");
                                rankBadge.className = "badge";
                                rankBadge.style.display = "inline-block";
                                rankBadge.style.marginRight = "10px";
                                rankBadge.textContent = "순위";
                                rankBadge.style.marginBottom = "10px";

                                var rankSpan = document.createElement("span");
                                rankSpan.textContent = "베스트 "+ (i + 1); // 순위 계산 (0부터 시작하므로 +1)

                                rankBadge.appendChild(rankSpan);

                                // 가게 이름을 표시하는 열 추가
                                var nameH6 = document.createElement("h5");
                                nameH6.className = "heading";
                                nameH6.style.display = "inline-block";
                                nameH6.textContent = entry.hotplace_name;
                                nameH6.style.marginBottom = "10px"; // 상하 마진


                                // 리뷰 온도를 표시하는 열 추가
                                var reviewProgress = document.createElement("div");
                                reviewProgress.className = "progress";
                                reviewProgress.style.marginTop = "10px";

                                var reviewProgressBar = document.createElement("div");
                                reviewProgressBar.className = "progress-bar";
                                reviewProgressBar.role = "progressbar";
                                reviewProgressBar.style.width = entry.avg_emo_result + "%"; //리뷰 온도 값 사용

                                reviewProgress.appendChild(reviewProgressBar);

                                var reviewText1 = document.createElement("span");
                                reviewText1.className = "text1";
                                reviewText1.textContent = "리뷰 온도 " + entry.avg_emo_result+"°C";
                                reviewText1.style.float = "left";
                                reviewText1.style.marginTop = "15px";

                                // 찜 수를 표시하는 열 추가
                                var jjimText2 = document.createElement("span");
                                jjimText2.className = "text2";
                                jjimText2.textContent = "이번달 저장수 " + entry.jjim;
                                jjimText2.style.float = "right";
                                jjimText2.style.marginTop = "15px";

                                cardContent.appendChild(rankBadge);
                                cardContent.appendChild(nameH6);
                                cardContent.appendChild(reviewProgress);
                                cardContent.appendChild(reviewText1);
                                cardContent.appendChild(jjimText2);

                                card.appendChild(cardContent);

                                // 결과 테이블에 카드 추가
                                resultDiv.appendChild(card);

                                // 마지막 리스트에는 수평선을 추가하지 않음
                                if (i < response.monthBestList.length - 1) {
                                    var horizontalLine = document.createElement("hr");
                                    resultDiv.appendChild(horizontalLine);
                                }
                            }
                        }
                    } catch (error) {
                        console.error("JSON 파싱 오류:", error);
                    }
                } else {
                    console.log("Error:", xhr.statusText);
                    alert("시도, 구군, 카테고리를 모두 선택해주세요." + xhr.statusText);
                }
            };

            xhr.onerror = function () {
                console.log("Network Error");
                alert("Network Error");
            };
            xhr.send("sido=" + selectedSido + "&gugun=" + selectedGugun + "&hotplace_cate_no=" + selectedCategory); //매개변수를 전달
        }
    });
});

</script>

