<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/admin/ddostyle.css" />
    <div class="container my-3">
        <!-- 문의사항 검색 폼 -->
        <form id="searchForm" class="mb-3" action="/qna/list" method="GET">
            <div class="input-group ddo-search">
                <select name="searchCategory" class="form-select">
                    <option value="qna_title">제목</option>
                    <option value="qna_content">내용</option>
                    <option value="user_id">작성자</option>
                </select>
                <input type="text" class="form-control" name="search" placeholder="문의사항 검색">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <!-- 총 개수 표시 -->
        <div class="mb-2">총 개수: <span th:text="${totalCnt}"></span></div>
        <a href="/qna/add" class="btn btn-primary">질문작성</a>
        <a href="/qna/list" class="btn btn-primary ms-2"><i class="bi bi-arrow-repeat"></i></a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상태
                    <a href="#" th:href="@{${sortField == 'qna_solved' and sortOrder == 'asc' ? '?sortField=qna_solved&sortOrder=desc' : '?sortField=qna_solved&sortOrder=asc'}}" class="ddo-a">
                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                    </a>
                    <a href="#" th:href="@{${sortField == 'qna_solved' and sortOrder == 'desc' ? '?sortField=qna_solved&sortOrder=asc' : '?sortField=qna_solved&sortOrder=desc'}}" class="ddo-a">
                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                    </a>
                </th>
                <th>제목
                    <a href="#" th:href="@{${sortField == 'qna_title' and sortOrder == 'asc' ? '?sortField=qna_title&sortOrder=desc' : '?sortField=qna_title&sortOrder=asc'}}" class="ddo-a">
                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                    </a>
                    <a href="#" th:href="@{${sortField == 'qna_title' and sortOrder == 'desc' ? '?sortField=qna_title&sortOrder=asc' : '?sortField=qna_title&sortOrder=desc'}}" class="ddo-a">
                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                    </a>
                </th>
                <th>작성자
                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'asc' ? '?sortField=user_id&sortOrder=desc' : '?sortField=user_id&sortOrder=asc'}}" class="ddo-a">
                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                    </a>
                    <a href="#" th:href="@{${sortField == 'user_id' and sortOrder == 'desc' ? '?sortField=user_id&sortOrder=asc' : '?sortField=user_id&sortOrder=desc'}}" class="ddo-a">
                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                    </a>
                </th>
                <th>작성일
                    <a href="#" th:href="@{${sortField == 'qna_date' and sortOrder == 'asc' ? '?sortField=qna_date&sortOrder=desc' : '?sortField=qna_date&sortOrder=asc'}}" class="ddo-a">
                        <i class="bi bi-arrow-down-short ddo-icon-class"></i>
                    </a>
                    <a href="#" th:href="@{${sortField == 'qna_date' and sortOrder == 'desc' ? '?sortField=qna_date&sortOrder=asc' : '?sortField=qna_date&sortOrder=desc'}}" class="ddo-a">
                        <i class="bi bi-arrow-up-short ddo-icon-class"></i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="qna : ${qnaList}">
                <td>
                    <span class="badge rounded-pill"
                          th:class="${qna.qna_solved == 'Y'} ? 'rounded-pill bg-success' : 'rounded-pill bg-warning'"
                          th:text="${qna.qna_solved == 'Y'} ? '답변완료' : '답변전'">
                    </span>
                </td>
                <td th:text="${qna.qna_title}" th:onclick="'showCard(\'' + ${qna.qna_no} + '\')'"></td>
                <td th:text="${qna.user_id}"></td>
                <td th:text="${#temporals.format(qna.qna_date.toLocalDate(), 'yyyy/MM/dd')}"></td>
                <div th:id="'hiddenCard' + ${qna.qna_no}" class="card" style="display: none;">
                    <div class="card-body">
                        <form th:id="'passwordForm' + ${qna.qna_no}" th:action="@{|/qna/detail/${qna.qna_no}|}" method="post">
                            <label for="inputPwd">비밀번호:</label>
                            <input type="password" id="inputPwd" name="inputPwd">
                            <button type="submit" class="btn btn-primary">확인</button>
                        </form>
                    </div>
                </div>
                <div style="display: none;">
                    <form th:id="'qnaDetailForm' + ${qna.qna_no}" th:action="@{|/qna/detail/${qna.qna_no}|}" method="post">
                        <input type="hidden" name="inputPwd" value=" ">
                    </form>
                </div>
            </tr>
            <tr th:if="${#lists.isEmpty(qnaList)}">
                <td colspan="4" class="text-center">검색 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>
        <!--페이지네이션-->
        <nav th:if="${#lists.size(qnaList)} > 0">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{|/qna/list?page=${currentPage - 1}|}">이전</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}">
                    <a class="page-link" th:href="@{'?page=' + ${i}}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{|/qna/list?page=${currentPage + 1}|}">다음</a>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        $(document).ready(function() {
            function updateUrlParam(key, value) {
                var params = new URLSearchParams(window.location.search);
                params.set(key, value);
                window.location.search = params.toString();
            }

            //결과없으면 페이지네이션 숨기기
            if (${#lists.size(qnaList)} == 0) {
                $(".pagination").hide();
            }

            // 페이지네이션 파라미터 업뎃
            $(".pagination a").on("click", function(event) {
                event.preventDefault();
                var url = new URL(this.href);
                var page = url.searchParams.get("page");
                updateUrlParam("page", page);
            });

            // 검색 파라미터 업뎃
            $("#searchForm").on("submit", function(event) {
                event.preventDefault();
                var search = $(this).find('input[name="keyword"]').val();
                updateUrlParam("search", search);
            });
        });


    </script>
    <script th:inline="javascript">
        var userId = /*[[${userId}]]*/;

        function showCard(qnaNo) {
            if(userId==='admin'){
                document.getElementById('qnaDetailForm' + qnaNo).submit();
            } else{
                // 모든 카드를 숨깁니다.
                document.querySelectorAll('.card').forEach(function(card) {
                    card.style.display = 'none';
                });

                // 선택한 카드만 표시합니다.
                document.getElementById('hiddenCard' + qnaNo).style.display = 'block';
            }
        }

    </script>
</div>
</html>