<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-5">
    <div class="mb-4">
        <h3 class="mb-4" th:text="${qna.qnaTitle}"></h3>
        <div class="card shadow p-4">
            <p style="white-space:pre-line;" th:text="${qna.qnaContent}"></p>
            <div class="d-flex justify-content-end mt-3">
                <span class="badge bg-light text-dark p-2" th:text="${qna.user.user_name}"></span>
                <span class="badge bg-light text-dark p-2 ms-2" th:text="${#temporals.format(qna.qnaDate,'yyyy/MM/dd HH:mm')}"></span>
            </div>
            <div class="my-3" th:if="${userRole == 'user'} and ${qnaSolve == null}">
                <a th:href="@{|/qna/modify/${qna.qnaNo}|}" class="btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()" th:if="${qnaSolve == null}">수정</a>
                <a href="javascript:void(0);" th:data-uri="@{|/qna/delete/${qna.qnaNo}|}" class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${qnaSolve == null}">삭제</a>
            </div>
            <div class="my-3" th:if="${qnaSolve != null}">
                <span class="text-secondary">답변이 달린 질문은 수정 또는 삭제 하실 수 없습니다</span>
            </div>
        </div>
    </div>

    <!-- 답변 -->
    <div class="card shadow p-4 my-3" th:if="${qnaSolve != null}">
        <h5 class="mb-4" th:text="${qnaSolve.qnaSolveTitle}"></h5>
        <p class="text-muted" style="white-space:pre-line;" th:text="${qnaSolve.qnaSolveContent}"></p>
        <div class="d-flex justify-content-end mt-3">
            <span class="badge bg-light text-dark p-2">관리자</span>
            <span class="badge bg-light text-dark p-2 ms-2" th:text="${#temporals.format(qnaSolve.qnaSolveDate,'yyyy/MM/dd HH:mm')}"></span>
        </div>
        <div th:if="${userRole == 'admin'}">
            <div class="my-3">
                <a th:href="@{|/qna/solve/modify/${qna.qnaNo}|}" class="btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()" th:if="${qnaSolve != null}">수정</a>
                <a href="javascript:void(0);" th:data-uri="@{|/qna/solve/delete/${qna.qnaNo}|}" class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${qnaSolve != null}">삭제</a>
            </div>
        </div>
    </div>
    <div class="alert alert-info" th:if="${qnaSolve == null} and ${userRole == 'user'}">
        답변은 2~5일 정도 소요됩니다. 잠시만 기다려주세요.
    </div>

    <!-- 답변 등록 폼 -->
    <div th:if="${userRole == 'admin'} and ${qnaSolve == null}">
        <form id="answer" class="my-3 bg-light p-4 shadow" th:action="@{|/qna/solve/add/${qna.qnaNo}|}" th:object="${qnaSolveAddForm}" method="post">
            <div class="mb-3">
                <input type="text" th:field="*{qnaSolveTitle}" class="form-control" placeholder="제목을 입력하세요" />
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qnaSolveTitle')}" th:errors="*{qnaSolveTitle}"></span>
            </div>
            <div class="mb-3">
                <textarea th:field="*{qnaSolveContent}" class="form-control" rows="8" placeholder="내용을 입력하세요"></textarea>
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qnaSolveContent')}" th:errors="*{qnaSolveContent}"></span>
            </div>
            <div class="d-flex justify-content-end">
                <input type="button" value="답변등록" class="btn btn-ddo" id="submit-button" onclick="handleSubmit()" />
            </div>
        </form>
            <div id="loading-message" style="display: none;" class="alert alert-info">
                <span class="text-secondary">답변 등록 메일을 전송 중입니다...</span>
            </div>
    </div>
    <div class="my-4 text-center">
        <a href="/qna/list" class="btn btn-secondary">목록으로</a>
    </div>
    <script>
        const delElements = document.getElementsByClassName("delete");
        Array.from(delElements).forEach(function(element){
            element.addEventListener("click", function(){
                if(confirm("삭제하시겠습니까?")){
                    location.href=this.dataset.uri;
                }
            });
        });

         function handleSubmit() {
            const form = document.getElementById('answer');
            const submitButton = document.getElementById('submit-button');
            const loadingMessage = document.getElementById('loading-message');

            submitButton.disabled = true;
            loadingMessage.style.display = 'block';

            form.submit();
        }
    </script>
</div>
</html>
