<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{|${userRole == 'admin' ? 'qna/qnabar' : 'layout_for_main_notice_qna'}|}">
<div layout:fragment="content" th:class="${userRole == 'admin'} ? '' : 'container my-5'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/admin/ddostyle.css" />
    <link rel="stylesheet" href="/css/admin/qna.css" />
    <h1 class="text-center" style="font-weight: bold;">QnA</h1><br/><br/>
    <h3 class="mb-4 border-bottom pb-2" style="font-weight: bold;">질문수정</h3>
    <form id="questionForm" th:object="${qnaAddForm}" th:action="@{|/qna/modify/${qna.qnaNo}|}" method="post">
        <div class="card shadow p-4">
            <div class="mb-3">
                <label for="qna_title" class="form-label" style="font-size: 1.2em; font-weight: bold; color: #003366;"><i class="bi bi-card-heading"></i>&nbsp;제목</label>
                <input type="text" th:field="*{qna_title}" class="form-control" id="qna_title" placeholder="제목을 입력하세요" style="font-size: 1.2em;"/>
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_title')}" th:errors="*{qna_title}"></span>
            </div>
            <div class="mb-3">
                <label for="qna_content" class="form-label" style="font-size: 1.2em; font-weight: bold; color: #003366;"><i class="bi bi-card-text"></i>&nbsp;내용</label>
                <textarea th:field="*{qna_content}" class="form-control" id="qna_content" rows="8" placeholder="내용을 입력하세요" style="font-size: 1.2em;"></textarea>
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_content')}" th:errors="*{qna_content}"></span>
            </div>
            <div class="mb-3">
                <label for="qna_pwd" class="form-label" style="font-size: 1.2em; font-weight: bold; color: #003366;"><i class="bi bi-lock"></i>&nbsp;비밀번호 확인</label>
                <input type="password" th:field="*{qna_pwd}" class="form-control" id="qna_pwd" placeholder="비밀번호를 입력하세요" style="font-size: 1.2em;"/>
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_pwd')}" th:errors="*{qna_pwd}"></span>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <input type="submit" value="질문 수정" class="btn btn-qna my-2 me-2" />
                <a href="/qna/list" class="btn btn-secondary my-2">돌아가기</a>
            </div>
        </div>
    </form>
</div>
</html>
