<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form id="questionForm" th:object="${qnaAddForm}" th:action="@{/qna/add}" method="post">
        <div class="mb-3">
            <label for="qna_title" class="form-label">제목</label>
            <input type="text" th:field="*{qna_title}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="qna_content" class="form-label">내용</label>
            <textarea th:field="*{qna_content}" class="form-control" rows="8"></textarea>
        </div>
        <div class="mb-3">
            <label for="qna_pwd" class="form-label">문의 비밀번호</label>
            <input type="password" th:field="*{qna_pwd}" class="form-control"/>
        </div>
        <input type="submit" value="질문저장(등록,수정)" class="btn btn-primary my-2"/>
    </form>
</div>
</html>