<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="border-bottom py-2">
        <h3 th:text="${qna.qnaTitle}"></h3>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space:pre-line;" th:text="${qna.qnaContent}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start" th:text="${qna.user.user_name}"></div>
                <div class="badge bg-light text-dark p-2 text-start" th:text="${#temporals.format(qna.qnaDate,'yyyy/MM/dd HH:mm')}"></div>
            </div>
        </div>
    </div>
    <!-- 답변 -->

    <div class="card my-3">
        <div th:if="${qnaSolve != null}">
            <div class="card-head">
                <div class="card-text" style="white-space:pre-line;" th:text="${qnaSolve.qnaSolveTitle}"></div>
            </div>
            <div class="card-body">
                <div class="card-text" style="white-space:pre-line;" th:text="${qnaSolve.qnaSolveContent}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">관리자</div>
                        <div class="badge bg-light text-dark p-2 text-start" th:text="${#temporals.format(qnaSolve.qnaSolveDate,'yyyy/MM/dd HH:mm')}"></div>
                    </div>
                </div>
                <!--답변수정 버튼: 구현X-->
                <div class="my-3">
                    <a th:href="@{|/qna/solve/modify/${qna.qnaNo}|}"
                       class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${qnaSolve != null}"
                       th:text="수정"></a>
                    <!--삭제버튼-->
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 등록 폼 -->
    <div th:if="${userRole === 'admin'} and ${qnaSolve === null}">
        <form id="answer" class="my-3" th:action="@{|/qna/solve/add/${qna.qnaNo}|}" th:object="${qnaSolveAddForm}" method="post">
            <input type="text" th:field="*{qnaSolveTitle}" rows="8" class="form-control"/>
            <span class="error-text" th:if="${#fields.hasErrors('qnaSolveTitle')}" th:errors="*{qnaSolveTitle}"></span>
            <textarea th:field="*{qnaSolveContent}" rows="8" class="form-control"></textarea>
            <span class="error-text" th:if="${#fields.hasErrors('qnaSolveContent')}" th:errors="*{qnaSolveContent}"></span>
            <input type="submit" value="답변등록" class="btn btn-primary my-2"/>
        </form>
    </div>
</html>