<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-5">
    <link rel="stylesheet" href="/css/admin/ddostyle.css" />
    <h3 class="mb-4 border-bottom pb-2">질문수정</h3>
    <form id="questionForm" th:object="${qnaAddForm}" th:action="@{|/qna/modify/${qna.qnaNo}|}" method="post">
        <div class="card shadow p-4">
            <div class="mb-3">
                <label for="qna_title" class="form-label">제목</label>
                <input type="text" th:field="*{qna_title}" class="form-control" placeholder="제목을 입력하세요" />
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_title')}" th:errors="*{qna_title}"></span>
            </div>
            <div class="mb-3">
                <label for="qna_content" class="form-label">내용</label>
                <textarea th:field="*{qna_content}" class="form-control" rows="8" placeholder="내용을 입력하세요"></textarea>
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_content')}" th:errors="*{qna_content}"></span>
            </div>
            <div class="mb-3">
                <label for="qna_pwd" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{qna_pwd}" class="form-control" placeholder="비밀번호를 입력하세요" />
                <span class="text-danger d-block mt-1" th:if="${#fields.hasErrors('qna_pwd')}" th:errors="*{qna_pwd}"></span>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="질문 수정" class="btn btn-ddo my-2" />
                <a href="/qna/list" class="btn btn-secondary my-2">돌아가기</a>
            </div>
        </div>
    </form>
</div>
</html>
