<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yumpro.ddogo.mymap.mapper.EmoReviewMapper">

    <select id="getReviewByMapNo" parameterType="int" resultType="com.yumpro.ddogo.mymap.domain.EmoReviewDTO">
        SELECT r.review_no as reviewNo, r.review, m.map_memo as memo, r.map_no as mapNo
        FROM emoreview r
        INNER JOIN mymap m ON r.map_no = m.map_no
        WHERE r.map_no = #{mapNo};
</select>


</mapper>
