<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yumpro.ddogo.mymap.mapper.MyMapMapper">
    <update id="updateMemoByReviewNo">
        <![CDATA[
        UPDATE mymap
        SET map_memo = #{memo}
        WHERE map_no IN (SELECT map_no FROM emoreview WHERE review_no = #{reviewNo});
        ]]>
    </update>
</mapper>